.Lista {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 350px;
    background: rgb(71, 167, 223);
    margin: 40px 26px;
    padding: 25px;
    border: 10px groove rgb(51, 48, 48);
    display: inline-block;
}

.Significado {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0.8% 2%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: rgb(27, 36, 27);
    background: url(../Recursos/Blak.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.Orden {
    text-align: center;
}

img {
    width: 500px;
}

.Principal {
    background-color: lightblue;
    width: 100%;
}

.Imagenes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(210, 223, 228);
}

.Frase {
    font-size: 22px;
    font-style: oblique;
}

h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}